# Auth settings
JWT_SECRET=your_jwt_secret_key

# Backend general settings
BE_PORT=3000

CORS_ORIGIN=http://localhost:5173

# DB settings
DATABASE_URL=postgresql://<username>:<yourpassword>@db.wuqgloozusqgekxlmsyn.supabase.co:5432/postgres

# LOCAL_DB_VARS
# DB_HOST=localhost
# DB_PORT=5432
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=yourpassword
# POSTGRES_DB=event_verse